@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>As an appointment based business, a minimum 40% deposit is required to secure all bookings. 
    Apon paying for the depost, clients can choose to pay between the minimum 40% up to the full 100% amount.
    Booking changes must be made at least 48 hours in advance before the booking time.
    Cancellations must be made at least 48 hours in advance before the booking time to be issued a refund.
    Any requests made after the 48 hour notice of the booking time will not be accepted, and deposits will be forfeited.
</p>
