@model Booking
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class=" col text-center">
                <h2 class="text-white py-2">Delete Booking</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="Id" hidden />
            <div class="border p-3 mt-4">
                @*<div asp-validation-summary="All"></div>*@
                <div class="py-2 col-12">
                    <label asp-for="Name" class="ms-2"> </label>
                    <input asp-for="Name" disabled class="form-control border-0 shadow" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="py-2 col-12">
                    <label asp-for="BookingOrder" class="ms-2"> </label>
                    <input asp-for="BookingOrder" disabled class="form-control border-0 shadow" />
                    <span asp-validation-for="BookingOrder" class="text-danger"></span>
                </div>

                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Delete</button>
                    </div>

                    <div class="col-6 col-md-3">
                        <a asp-controller="Booking" asp-action="Index" class="btn btn-secondary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
