@model List<Service>
<div class="container">
	<div class="row pt-4">
	<div class="col-6">
		<h1 class="text-primary"> Services </h1>
	</div>
	</div>
<table class="table table-bordered table-striped">
	<thead>
	<tr>
		<th>
			Service Type
		</th>
		<th>
			Cost
		</th>
	</tr>
	</thead>
	<tbody>
		@foreach(var obj in Model.OrderBy(u=>u.Id))
		{
		<tr>
			<td> @obj.Type </td>
			<td> @obj.Cost
						<div class="w-10 btn-group" role="group">
							<a asp-controller="Service" asp-action="Select" class="btn btn-primary mx-2">
								<i class="bi bi-plus-square"></i>
							</a>
						</div>
			</td>
		</tr>
		}
	</tbody>
</table>
</div>