@model SD7501_NailBookingSystem.Models.EmailRequest

@{
    ViewData["Title"] = "Contact";
}
<h1>Contact Us</h1>
<div class="row">
    <div class="col-md-4"
        <form asp-action="Contact" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
            <div class="form-group">
                <label asp-for="EmailTo" class="control-label"></label>
                <input Asp-for="EmailTo" value="pcforge.c@gmail.com" />
                <span asp-validation-for="EmailTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enquiry" class="control-label"></label>
                <input asp-for="Enquiry" class="form-control" />
                <span asp-validation-for="Enquiry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attachments" class="control-label"></label>
                <input asp-for="Attachments" class="form-control" type="file" multiple />
                <span asp-validation-for="Attachments" class="text-danger"></span>
            </div>
            <div class="col-6 col-md-3">
                <input type="submit" value="Submit" class="btn btn-primary border form-control" />
            </div>
            <div class="col-6 col-md-3">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-secondary border form-control">
                            Back to List
                        </a>
            </div>
        </form>
    </div>
</div>