@{
    ViewData["Title"] = "Payment Policy";
}
<h1>@ViewData["Title"]</h1>

<p>As an appointment based business, a minimum 40% deposit is required to secure all bookings. 
    Apon paying for the depost, clients can choose to pay between the minimum 40% up to the full 100% amount.
    Booking changes must be made at least 48 hours in advance before the booking time.
    Cancellations must be made at least 48 hours in advance before the booking time to be issued a refund.
    Any requests made after the 48 hour notice of the booking time will not be accepted, and deposits will be forfeited.
</p>

<h1>Privacy Policy</h1>

<h3>User Login Information</h3>
<p>All client or user login information, including emails or usernames and passwords, are securely encrypted. Login information is not shared with third parties.
   All client's or user's are responsible to keep their login information confidential. Strong, unique passwords are recommended.
</p>

<h3>Data Protection</h3>
<p>As a business, it is designed that client or user data is protected against unauthorised access, misuse, or loss. This sensitive data is restricted only to authorised personnel only.
</P>

<h3>Client or User Consent</h3>
<p>As part of the privacy policy, by using our services and providing your information, you consent to the collection and use of your information to be used by us.
</p>

<h3>Payment Information</h3>
<p>All payment information are encrypted securely only through trusted high security third-party processors.
   Transactions are stored on our servers to trace payments made for knowing all deposits made for bookings, so remaining deposit/payment is determined.
   However full card details are not stored on our servers.
</p>